<div>
    <h1> Datos del usuario ingresado: <br>
    Nombre: {{name}} <br>
    Apellido: {{lastName}} <br>
    Edad: {{age}} <br>
    Correo electronico: {{email}} <br>
    Numero de telefono: {{phoneNumber}}
    </h1>
</div>